#shellcheck shell=bash

direnv_exit=$(trap -p EXIT)
direnv_exit="${direnv_exit##*-- \'}"
direnv_exit="${direnv_exit%%\' EXIT}"

cleanup() {
  set +x
  {
    rm ./*.lst
  } >/dev/null 2>&1
}

trap cleanup EXIT

# This are not sourced because they have no dependency on direnv
# and do not set any environment variables
./scripts/direnv/update-generated-nix.sh
out="$(./scripts/direnv/build.sh)"

PATH_add "${out}/bin"

RUST_SRC_PATH="$(./scripts/direnv/rust-src-path.sh)"
export RUST_SRC_PATH="${RUST_SRC_PATH}"

mapfile -t watch_files < <(./scripts/direnv/watch-files.sh | sort | uniq)

watch_file "${watch_files[@]}"

"${direnv_exit}"
