#shellcheck shell=bash

nix build '#shell' --out-link shell

PATH_add shell/bin

rustc_path="$(realpath "$(nix path-info '#shell')"/bin/rustc)"

RUST_SRC_PATH="${rustc_path/\/bin\/rustc/}/lib/rustlib/src/rust/library"

export RUST_SRC_PATH="${RUST_SRC_PATH}"
